@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.statistic-container {
  display: flex;
  justify-content: center;
}
.list-post-container {
  max-height: calc(100vh - 70px);
  height: fit-content;
  margin: 10px 0;
  padding: 12px;
  margin-right: 40px;
  background-color: $primary-white;
  width: 300px;
  max-width: 300px;
  border-radius: $border-radius-md;
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: $primary-color;
  }
}
.wrapper-post-item {
  border-radius: $border-radius-md;
  padding: $spacing-sm;
  margin-top: $spacing-sm;
  margin-bottom: $spacing-sm;
  box-shadow: $box-shadow;
  cursor: pointer;
  h4 {
    color: $primary-color;
  }
  .time-create {
    color: #a3a3a3;
  }
  &:hover {
    background-color: $primary-gray-background;
  }
}

.chart-wrapper {
  height: calc(100vh - 70px);
  margin: 10px 0;
  padding: 12px;
  border-radius: $border-radius-md;
  background-color: $primary-white;
  width: $width-post;
  max-width: $width-post;
}
.title-chart {
  font-size: 20px;
  color: $primary-color;
  margin-left: 20px;
  &:hover {
    text-decoration: underline;
  }
}

.activeItemChart {
  div {
    background-color: #d7e9b9;
  }
}
