@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.register-container {
  background-image: url("/assets/img/register-bg.jpg");
  height: 100vh;
}
.register-form {
  margin: auto;
  margin-top: 100px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
	padding: 20px 30px;
  .btn-register {
    @include btnStyle(
      $width-input-lg,
      $height-input,
      $primary-color,
      $font-size-btn
    );
		margin: 10px 0 30px;
  }
  .input-field {
    @include inputStyle($width-input-lg);
  }
  .ant-form-item-explain-error {
    padding-left: 20px;
  }
  .ant-input-number-handler-wrap {
    visibility: hidden;
  }
}
