@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";
.shareContain {
  margin-bottom: $spacing-md;
  .shareBox {
    width: $width-post;
    max-width: $width-post;
    background-color: #fff;
    height: auto;
    border-radius: $border-radius-md;
    padding: $spacing-md 24px;
    box-shadow: $box-shadow-bold;
    .avt-user {
      margin-right: $spacing-md;
      width: 44px;
      height: 44px;
      border-radius: 30px;
      object-fit: cover;
      cursor: pointer;
    }
    .inputShare {
      display: flex;
      align-items: center;
      .btn-share {
        @include btnStyle(
          $width-input-ex,
          $height-input,
          $primary-green,
          $font-size-md
        );
        margin: auto;
      }
    }
  }
}
.header-share {
  display: flex;
  align-items: center;
  justify-items: start;
  p {
    margin: 0;
  }
  .ant-select {
    border-radius: 20px;
  }
  .select-status {
    box-shadow: $box-shadow;
  }
}
.share-modal {
  .ant-modal-content,
  .ant-modal-content .ant-modal-header {
    border-radius: 12px;
  }
}
form {
  .input-title {
    width: 100%;
    border: 1px solid $primary-dark-gray;
    border-radius: $border-radius-sm;
    outline: none;
    width: 100%;
    padding: 4px;
    font-weight: 500;
    box-shadow: $box-shadow;
  }
  .sub-form {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input-location {
      width: 100%;
      height: $height-input-md;
      border: 1px solid $primary-dark-gray;
      border-radius: $border-radius-sm;
      outline: none;
      padding: 0 4px;
      font-style: italic;
      box-shadow: $box-shadow;
    }
    .select-type-travel {
      width: 160;
      box-shadow: $box-shadow;
    }
  }
  .btn-share-create {
    @include btnStyle(
      $width-input-sm,
      $height-input,
      $primary-color,
      $font-size-md
    );
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .text-area-share {
    border: 1px solid $primary-dark-gray;
    border-radius: $border-radius-sm;
    resize: none;
    outline: none;
    width: 100%;
    padding: 0 4px;
    box-shadow: $box-shadow;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #bcc0c4;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f0f2f5;
}
