@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";
.shareContain {
  margin-top: 16px;
  .shareBox {
    width: 100%;
    background-color: #fff;
    height: auto;
    border-radius: 10px;
    padding: 16px 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    .inputShare {
      display: flex;
      align-items: center;
      input {
        height: 32px;
        border-radius: 16px;
        border: none;
        background-color: #f0f2f5;
        padding-left: 16px;
        flex-grow: 1;
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
      }
      input:focus {
        outline: none;
      }
      .btn-share {
        @include btnStyle(
          $width-input-ex,
          $height-input,
          $primary-green,
          $font-size-btn
        );
        margin: auto;
      }
    }
  }
}
.header-share {
  display: flex;
  align-items: center;
  justify-items: start;
  p {
    margin: 0;
  }
  .ant-select {
    border-radius: 20px;
  }
}
.share-modal {
  .ant-modal-content,
  .ant-modal-content .ant-modal-header {
    border-radius: 12px;
  }
}
form {
  .input-title {
    width: 100%;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 4px;
    font-weight: 500;
  }
  .sub-form {
		margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // .ant-select {
    //   margin-right: 8px;
    // }
    // .ant-input {
    //   width: 100%;
    // }
    .input-location {
      width: 100%;
      border: none;
      outline: none;
      padding: 0 4px;
      font-style: italic;
    }
  }
  .btn-share-create {
    @include btnStyle(
      $width-input-sm,
      $height-input,
      $primary-color,
      $font-size-btn
    );
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .text-area-share {
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    padding: 0 4px;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #bcc0c4;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f0f2f5;
}
