.shareContain {
  margin-top: 16px;
}

.shareBox {
  width: 100%;
  background-color: #fff;
  height: auto;
  border-radius: 10px;
  padding: 16px 24px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.inputShare {
  display: flex;
  align-items: center;
}

.textShare {
  height: 32px;
  border-radius: 16px;
  border: none;
  background-color: #f0f2f5;
  padding-left: 16px;
	flex-grow: 1;
  font-size: 13px;
	font-weight: 400;
}

.textShare:focus {
  outline: none;
}

.mediaShare {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: space-around;
}

.wrapIcon {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.wrapIcon:hover {
  background-color: #f0f2f5;
}

.liveIcon {
  color: #f3425f;
  font-size: 20px;
  margin-right:16px;
}

.mediaIcon {
  color: #41b35d;
  font-size: 20px;
  margin-right:16px;
}

.flingIcon {
  color: #f7b928;
  font-size: 20px;
  margin-right:16px;
}