@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.search-user-container {
  margin-top: $spacing-md;
  background-color: $primary-white;
  box-shadow: $box-shadow-bold;
  height: fit-content;
  padding: $spacing-sm;
  border-radius: $border-radius-md;
  position: sticky !important;
  top: calc($spacing-md + 50px);
}
.result-search-user {
  // margin-top: $spacing-sm;
}
.search-user-item {
  border-radius: $border-radius-md;
  display: flex;
  align-items: center;
  height: 48px;
  width: auto;
  justify-content: flex-start;
  padding: 2px 16px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  &:hover {
    background-color: $primary-gray-background;
  }
  .avt-user {
    margin-right: 6px;
    width: 32px;
    height: 32px;
    border-radius: $spacing-md;
    object-fit: cover;
  }
}
