@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";
@mixin topbarLink($color) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 4px;
  padding: 0 12px;
  cursor: pointer;
  color: $color;
  font-size: $font-size-md;
  span {
    font-weight: 600;
  }
  .topbarIcon-1 {
    font-size: 24px;
    margin-right: 10px;
    color: $color;
  }
}

.topbarContainer {
  position: sticky;
  background-color: $primary-white;
  top: 0;
  z-index: $z-index-topbar;
  height: 50px;
  width: 100%;
  display: flex;
  box-shadow: rgb(0 0 0 / 9%) 0px 1px 11px;
  .topbarLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .topbarCenter {
    flex: 8;
    display: flex;
  }
  .topbarRight {
    flex: 3;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: $primary-color;
  cursor: pointer;
  border-radius: 10px;
}

.searchbar {
  padding: 0 0 0 $spacing-md;
  width: 300px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 20px;
  background-color: #f0f2f5;
  .searchIcon {
    cursor: pointer;
    font-size: 20px;
    margin: 0 2px 0 0;
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    svg {
      color: $primary-color;
    }
  }
  input {
    flex-grow: 1;
    border: none;
    margin-right: 8px;
    background-color: #f0f2f5;
    font-size: 14px;
    font-weight: 400;
    &:focus {
      outline: none;
    }
  }
}

.iconRightSide {
  min-width: 80px;
  max-width: 120px;
  cursor: pointer;
  margin: 0 4px;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0;
  }
}

.topbarLink {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .noactiveLink {
    @include topbarLink($primary-gray);
    --_p: 0%;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    background: linear-gradient(90deg, $primary-color 50%, $primary-gray 0)
        calc(100% - var(--_p)) / 200% 100%,
      linear-gradient($primary-color 0 0) 0% 100% / var(--_p) 3px no-repeat;
    background-clip: text, padding-box;
    -webkit-background-clip: text, padding-box;
    transition: 0.5s;
    &:hover {
      --_p: 100%;
    }
  }
  .activeLink {
    @include topbarLink($primary-color);
    border-bottom: 3px $primary-color solid;
  }
}

.account-manager {
  min-width: 80px;
  max-width: 120px;
  cursor: pointer;
  margin: 0 4px;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0;
  }
}
.topbarAvata {
  display: flex;
  justify-content: center;
  align-items: center;
  .avt-topbar {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    object-fit: cover;
  }
}

.menu-item-profile {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
}
.menu-item-logout {
  display: flex;
  align-items: center;
  svg {
    font-size: 20px;
    margin-right: 8px;
  }
}

.sign-in {
  min-width: 80px;
  max-width: 120px;
  cursor: pointer;
  margin: 0 4px;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0;
  }
}
.subIconRight {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .topbarIcon-2 {
    font-size: 24px;
    color: $primary-gray;
  }
  .iconBadge {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #e41e3f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-white;
    font-size: 10px;
    position: absolute;
    right: 20px;
    top: -1px;
  }
}
