@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.profile-about-container {
  border-radius: 12px;
  padding: 40px;
  background-color: $primary-white;
  h1 {
    font-weight: 700;
  }
  .sub-title-about {
    padding-top: $spacing-md;
    display: flex;
    align-items: center;
    svg {
      font-size: 24px;
    }
    h2 {
      padding: 0;
      margin: 0 $spacing-sm;
      font-size: 20px;
    }
  }
  h3 {
    margin: 0;
    font-weight: 400;
  }
  .custome-hr {
    margin: $spacing-md 0;
    border: none;
    height: 1px;
    background-color: $primary-dark-gray;
  }

  button.first-child {
    @include btnStyle(
      $width-input-auto,
      $height-input-sm,
      $primary-color,
      $font-size-sm
    );
    padding: 0 8px;
    margin-right: $spacing-sm;
  }
  button.second-child {
    @include btnStyle(
      $width-input-auto,
      $height-input-sm,
      $primary-gray,
      $font-size-sm
    );
    padding: 0 8px;
    margin-right: $spacing-sm;
  }
}

.about-col-2 {
  display: flex;
  justify-content: space-between;
  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
  span {
    display: flex;
    align-items: center;
    color: $primary-color;
    cursor: pointer;
    &:hover {
      color: $secondary-color;
    }
  }
}

.form-edit,
.form-edit {
  input {
    @include inputStyle(
      $width-input-full,
      $height-input-sm,
      $primary-dark-gray
    );
    margin-bottom: $spacing-sm;
  }
}
.form-edit-birth {
  .date-picker-container {
    margin-bottom: $spacing-sm;
    padding: 0;
  }
}
