@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.profile{
	min-height: 100vh;
}
.profile-image {
	border-radius: 4px;
  background-color: $primary-white;
  .coverImg {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .containAvtImg {
    text-align: center;
    position: relative;
    top: -40px;
    .text-name-user-top-profile {
      font-size: 30px;
    }
  }
  .avataProfileImg {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border: 4px solid #fff;
    object-fit: cover;
    background: #fff;
  }
  .text-top-profile {
    font-size: $font-size-paragraph;
  }
}

.controlProfile {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .sub-controlProfile {
    display: flex;
    justify-content: flex-start;
  }
  .btn-follow {
    @include btnStyle(100px, 32px, $primary-color, $font-size-paragraph);
    margin-right: 8px;
  }
}

.tab-profile {
  height: 40px;
  border-radius: 4px;
  display: flex;
  padding: 0 10px;
  margin: 0 1px;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #f2f2f2;
  }
  a {
    color: $primary-black;
  }
}

.tab-profile-active {
  border-bottom: 4px solid #1876f2;
  color: #1876f2;
  height: 40px;
  display: flex;
  padding: 0 10px;
  margin: 0 1px;
  align-items: center;
  cursor: pointer;
}


.contentProfile {
  margin-top: 10px;
  width: 940px;
  display: flex;
}

.inforprofile {
  flex: 5;
}

.aboutProfile {
  background-color: #fff;
  min-height: 100px;
  border-radius: 10px;
  margin: 16px;
  padding: 16px 12px;
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    margin: 12px 0;
    font-weight: 400;
  }
}

.profileNewfeed {
  flex: 7;
}
