.topProfile {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
}

.subTopProflie {
  width: 940px;
}

.containCoverImg {
  width: 100;
  max-height: 348px;
}

.coverImg {
  width: 940px;
  height: 348px;
  object-fit: cover;
  border-radius: 8px;
}

.bottomCoverImg {
  text-align: center;
  position: relative;
  top: -40px;
}

.bottomCoverImg p {
  font-size: 30px;
}

.avataProfileImg {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  border: 4px solid #fff;
  object-fit: cover;
  background: #fff;
}

.controlProfile {
  display: flex;
  width: 100%;
  /* max-width: 940px;	 */
  justify-content: flex-start;
}

.itemcontrol {
  height: 40px;
  border-radius: 4px;
  display: flex;
  padding: 0 10px;
  margin: 0 1px;
  align-items: center;
  cursor: pointer;
}

.itemcontrol:hover {
  background-color: #f2f2f2;
}

.itemActive {
  border-bottom: 4px solid #1876f2;
  color: #1876f2;
  height: 40px;
  display: flex;
  padding: 0 10px;
  margin: 0 1px;
  align-items: center;
  cursor: pointer;
}

.downProfile {
  display: flex;
  justify-content: center;
}

.contentProfile {
  margin-top: 10px;
  width: 940px;
  display: flex;
}

.inforprofile {
  flex: 5;
}

.aboutProfile {
  background-color: #fff;
  min-height: 100px;
  border-radius: 10px;
  margin: 16px;
  padding: 16px 12px;
}

.aboutProfile h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.aboutProfile p {
  font-size: 16px;
  margin: 12px 0;
  font-weight: 400;
}

.profileNewfeed {
  flex: 7
}