@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.wrapper-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-profile {
  width: 100%;
  max-width: 1200px;
  border-radius: 4px;
  background-color: $primary-white;
  .coverImg {
    height: 200px;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    filter: blur(100px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .containAvtImg {
    text-align: center;
    position: relative;
    top: -40px;
    .text-name-user-top-profile {
      font-size: 30px;
    }
  }
  .avataProfileImg {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border: 4px solid #fff;
    object-fit: cover;
    background: #fff;
  }
  .text-top-profile {
    font-size: $font-size-md;
  }
}

.controlProfile {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .sub-controlProfile {
    display: flex;
    justify-content: flex-start;
  }
  .btn-follow {
    @include btnStyle(180px, 32px, $primary-color, $font-size-md);
    margin-right: 8px;
    width: auto !important;
    // min-width: 100px !important;
    span {
      margin: 0 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

a {
  color: $primary-black;
  &:hover {
    color: $primary-black;
  }
}
.tab-profile {
  height: 40px;
  display: flex;
  padding: 0 10px;
  margin: 0 1px;
  align-items: center;
  cursor: pointer;
  --_p: 0%;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  background: linear-gradient(90deg, $primary-color 50%, $primary-gray 0)
      calc(100% - var(--_p)) / 200% 100%,
    linear-gradient($primary-color 0 0) 0% 100% / var(--_p) 3px no-repeat;
  background-clip: text, padding-box;
  -webkit-background-clip: text, padding-box;
  transition: 0.5s;
  &:hover {
    --_p: 100%;
  }
}

.tab-profile-active {
  border-bottom: 3px solid $primary-color;
  color: $primary-color;
  &:hover {
    color: $primary-color;
  }
  height: 40px;
  display: flex;
  padding: 0 10px;
  margin: 0 1px;
  align-items: center;
  cursor: pointer;
}
.downProfile {
  margin-top: $spacing-md;
  width: 100%;
  max-width: $width-post;
  padding: 0 $spacing-sm;
}

.container-no-data {
  max-width: 956;
  margin: auto;
  height: 30vh;
  background-color: #fff;
  border-radius: 5px;
  margin-top: $spacing-md;
  box-shadow: $box-shadow-bold;
  border-radius: $border-radius-md;
  h1 {
    text-align: center;
  }
}

.lock-icon {
  font-size: 30px;
  color: $color-dangerous;
  margin-right: 12px;
}
