@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.profile {
  min-height: 100vh;
}
.profile-image {
  border-radius: 4px;
  background-color: $primary-white;
  .coverImg {
    height: 200px;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    filter: blur(100px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .containAvtImg {
    text-align: center;
    position: relative;
    top: -40px;
    .text-name-user-top-profile {
      font-size: 30px;
    }
  }
  .avataProfileImg {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border: 4px solid #fff;
    object-fit: cover;
    background: #fff;
  }
  .text-top-profile {
    font-size: $font-size-paragraph;
  }
}

.controlProfile {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .sub-controlProfile {
    display: flex;
    justify-content: flex-start;
  }
  .btn-follow {
    @include btnStyle(100px, 32px, $primary-color, $font-size-paragraph);
    margin-right: 8px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

a {
  color: $primary-black;
  &:hover {
    color: $primary-black;
  }
}
.tab-profile {
  height: 40px;
  display: flex;
  padding: 0 10px;
  margin: 0 1px;
  align-items: center;
  cursor: pointer;
  &:hover {
    border-bottom: 4px solid $secondary-color;
  }
}

.tab-profile-active {
  border-bottom: 4px solid $primary-color;
  height: 40px;
  display: flex;
  padding: 0 10px;
  margin: 0 1px;
  align-items: center;
  cursor: pointer;
}
.downProfile {
  margin-top: $spacing-md;
}
