@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";
.home-container {
  min-height: 100vh;
  width: 100%;
}
.content-home {
  // display: inline-flex;
  // width: 100%;
  // min-width: 100%;
}
.wrapper-newfeed {
  // flex-grow: 1;
}
.home-rightbar {
  margin-left: auto;
  width: fit-content;
}
