@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";
.postContain {
  margin-bottom: $spacing-md;
  width: $width-post;
  max-width: $width-post;
}
.postBox {
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: $box-shadow-bold;
  border-radius: 10px;
  padding: $spacing-md 0 4px;
}

.topPost {
  .sub-topPost {
    display: flex;
    flex-direction: row;
    img {
      margin-right: $spacing-md;
      width: 44px;
      height: 44px;
      border-radius: 30px;
      object-fit: cover;
      cursor: pointer;
    }
  }
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  .nameUser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .textName:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .textTime {
    font-weight: 400;
    cursor: pointer;
    color: #65676b;
    &:hover {
      text-decoration: underline;
    }
  }
  .btn-modify-post {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #b4b6bb;
    float: right;
    cursor: pointer;
  }
}

.wrapper-rate-average {
  padding: 0 20px;
}
.titleText {
  font-weight: 500;
  padding: 12px 20px;
  margin: 0;
}
.statusText {
  font-weight: 400;
  padding: 4px 20px;
  margin: 0;
}
.destinationText,
.typeTravel {
  font-weight: 300;
  padding: 4px 20px;
  font-style: italic;
  margin: 0;
}

.postImg {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.bottomPost {
  padding: 0 20px;
  .inforReact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .numberLikeShare {
      display: flex;
      align-items: center;
      .smLikeIcon {
        font-size: 22px;
        cursor: pointer;
        margin: 4px 2px 4px 0;
        color: $primary-color;
      }
      .numberReact {
        font-weight: 400;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .numberComment {
      font-weight: 400;
      justify-content: flex-start;
      cursor: pointer;
    }
  }
}

.numberComment:hover {
  text-decoration: underline;
}

.boxControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btnPost {
    height: 40px;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 2px 2px 1px;
    cursor: pointer;
    color: #606266;
    &:hover {
      background-color: #f0f2f5;
      color: $primary-color;
    }
    span {
      margin-left: 4px;
    }
    .iconBtn {
      font-size: 20px;
    }
  }
  .likeActive {
    color: $primary-color;
  }
}
