@mixin inputStyle($width) {
  width: $width;
  height: 36px;
  border-radius: 18px;
  padding: 0 20px;
  margin: 6px;
  outline: none;
  border: none;
  color: #fff;
}

@mixin btnStyle($width, $height, $color, $fontSize) {
	width: $width;
	height: $height;
	background-color: $color;
	color: #fff;
	font-size: $fontSize;
	border-radius: 8px;
	border: none;
	cursor: pointer;
}