@mixin inputStyle($width, $height, $background) {
  width: $width;
  height: $height;
  background-color: $background;
  border-radius: 18px;
  padding: 0 20px;
  outline: none;
  border: none;
}

@mixin inputStyle_2($width, $height) {
  width: $width;
  height: $height;
  border-radius: 8px;
  border: 1px solid $primary-gray;
  padding: 0 12px;
}

@mixin btnStyle($width, $height, $color, $fontSize) {
  min-width: $width;
  // max-width: $width;
  height: $height;
  background-color: $color;
  color: #fff;
  font-size: $fontSize;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
