// color
$primary-bg-color: 	#dcd1cf;
$primary-color:#ff8c01;
$primary-white: #fff;
$primary-black: #000;
$primary-gray:#666666;
$secondary-gray:#65676b;
$primary-dack-gray:#f2f2f2;
$primary-gray-background:#f0f2f5;
$primary-green: #30f05b;
$primary-facebook: #32519b;
$primary-google: #d0463b;

//size
$width-input-ex: 500px;
$width-input-lg: 350px;
$width-input-sm: 150px;
$height-input: 40px;

$color-btn:#cca99d;

$font-size-btn: 16px;
$font-size-title: 24px;
$font-size-paragraph: 16px;

