// color
$primary-bg-color: 	#dcd1cf;
$primary-color:#ff8c01;
$primary-white: #fff;
$primary-gray:#666666;
$primary-facebook: #32519b;
$primary-google: #d0463b;

//size
$width-Input:370px;
$width-input-lg: 400px;
$width-input-sm: 200px;
$height-input: 40px;

$color-btn:#cca99d;

$font-size-btn: 16px;
$font-size-title: 24px;
$font-size-paragraph: 16px;