// color
$primary-color: #ff8c01;
$secondary-color: #faa945;
$primary-bg-color: #dcd1cf;
$primary-white: #fff;
$primary-black: #000;
$primary-gray: #666666;
$secondary-gray: #65676b;
$primary-dark-gray: #f2f2f2;
$primary-gray-background: #f0f2f5;
$primary-green: #30f05b;
$primary-facebook: #32519b;
$primary-google: #d0463b;
$color-btn: #cca99d;

//size
$width-input-auto: auto;
$width-input-ex: 500px;
$width-input-lg: 350px;
$width-input-sm: 150px;
$width-input-full: 100%;
$width-post: 700px;

$height-input-sm: 24px;
$height-input-md: 32px;
$height-input: 40px;
$height-post: 820px;

$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;

//space
$spacing-md: 16px;
$spacing-sm: 8px;

// box-shadow
$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$box-shadow-bold: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
$box-shadow-green: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
  rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

//border-radius
$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-full: 50%;

//zIndex
$z-index-alert-msg: 400;
$z-index-dialog: 300;
$z-index-backdrop: 200;
$z-index-topbar: 100;
