@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.newfeed {
  margin-top: $spacing-md;
  padding: 0 $spacing-sm;
  width: $width-post;
  max-width: $width-post;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-no-post {
  width: $width-post;
  max-width: $width-post;
  background-color: $primary-white;
  padding: $spacing-md;
  text-align: center;
}
.filter-container {
  box-sizing: border-box;
  width: 100%;
  background-color: $primary-white;
  margin-top: $spacing-md;
  padding: $spacing-sm;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: $spacing-md;
  box-shadow: $box-shadow-bold;
  border-radius: 10px;
}
