@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.top-post-container {
  margin-top: $spacing-md;
  background-color: $primary-white;
  box-shadow: $box-shadow-bold;
  height: fit-content;
  max-height: calc(100vh - 50px - 32px);
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  padding: $spacing-md;
  border-radius: $border-radius-md;
  position: sticky !important;
  top: calc($spacing-md + 50px);
}
.top-post-list {
  width: 300px;
  max-width: 300px;
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: $primary-color;
  }
}
.top-post-item {
  border-radius: $border-radius-md;
  padding: $spacing-sm;
  margin-top: $spacing-sm;
  box-shadow: $box-shadow;
  h4 {
    color: $primary-color;
  }
  &:hover {
    background-color: $primary-gray-background;
  }
}

.show-one-line {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.show-two-line {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
