@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";
.rightbar {
  flex: 3;
  height: calc(100vh - 60px);
  position: sticky;
  top: 60px;
  overflow-y: scroll;
  margin-top: 16px;
  background-color: #fff;
  border-radius: $border-radius-md;
  float: right;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  color: #d8dadf;
}

::-webkit-scrollbar-track {
  background-color: #f0f2f5;
}

.wrapRightbar {
  margin: 0 8px;
}

.friendReqList {
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 16px;
  padding: 16px;
}

.friendReqIcon {
  font-size: 24px;
  color: #1b74e4;
  position: relative;
  bottom: -8px;
  padding-right: 6px;
}

.friendReq {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.friendReq:hover {
  background-color: #f0f2f5;
}

.avt-user {
  margin-right: 16px;
  width: 44px;
  height: 44px;
  border-radius: 30px;
  object-fit: cover;
}

.btnCtrl {
  display: flex;
  justify-content: space-between;
}

.acceptBtn {
  width: 80px;
  height: 28px;
  border-radius: 4px;
  background-color: #1b74e4;
  border: none;
  color: white;
  cursor: pointer;
  margin: 6px 10px 0 0;
}

.cancelBtn {
  width: 80px;
  height: 28px;
  border-radius: 4px;
  background-color: #d8dadf;
  cursor: pointer;
  border: none;
  margin: 6px 0 0 10px;
}

.rightbarHr {
  margin: 0;
  height: 1px;
  border: none;
  background-color: #ced0d4;
}

.rightbarText {
  padding: 10px 12px;
  font-size: 20px;
  color: #65676b;
  font-weight: 580;
}

.listFriends {
  list-style: none;
  padding: 0;
}

.avt-friend {
  margin-right: 6px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  object-fit: cover;
}

.friendsItem {
  display: flex;
  align-items: center;
  height: 48px;
  width: auto;
  justify-content: flex-start;
  padding: 2px 28px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

.friendsItem:hover {
  background-color: #e4e6e9;
}

.onlStatus {
  display: flex;
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: #478a4c;
  border: #fff 1px solid;
  border-radius: 50%;
  right: 10px;
  top: 20px;
}
.friendsProfile {
  background-color: #fff;
  min-height: 100px;
  border-radius: 10px;
  margin: 16px;
  padding: 16px 12px;
}
.friendsProfile p:first-child {
  color: #000;
  width: 100px;
  font-size: 20px;
}
.friendsProfile p {
  color: #000;
  width: 100px;
}
.friendsProfile p:hover {
  text-decoration: underline;
}
.friendItemsProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.avt-frd-prof {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 6px;
}
